@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-base-bg text-slate-100 font-sans;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #0b1220;
}
::-webkit-scrollbar-thumb {
  background: #24334f;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f4468;
}
